
<div class="title"><h1>Gradovi</h1></div>
<div class="proba">

    <div class = "container">
        
        <div *ngFor="let city of cities | async">
            <app-bus-card [city]="city"></app-bus-card>
        </div>
        <div *ngFor="let city of cities | async">
            <app-bus-card [city]="city"></app-bus-card>
        </div>
        <div *ngFor="let city of cities | async">
            <app-bus-card [city]="city"></app-bus-card>
        </div>
        <div *ngFor="let city of cities | async">
            <app-bus-card [city]="city"></app-bus-card>
        </div>
    </div>

</div>

